.card {
  border: 2px solid #343f4b;
  border-radius: 4px;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.card-name {
  color: #00a6ff;
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
}

.card-icon {
  font-size: 26px;
  /* color: #ff9052; */
}

.card-company {
  color: #969faa;
  font-size: 18px;
  font-weight: 400;
}

.card-title {
  color: #343f4b;
  font-size: 18px;
  font-weight: 600;
}

.card-values {
  color: #969faa;
  font-size: 18px;
  font-weight: 400;
}

.button-card-edit {
  background-color: #47525e;
  color: white;
  border-color: #47525e;
}
.button-card-edit:hover {
  background-color: #657383;
  color: white;
  border-color: #47525e;
}

.button-card-edit:focus {
  background-color: #657383;
  color: white;
  border-color: #47525e;
}

.button-card-options {
  border-color: transparent;
  background-color: transparent;
}

.button-card-options:hover {
  border-color: transparent;
  background-color: transparent;
}
.button-card-options:focus {
  border-color: transparent;
  background-color: transparent;
}

.button-card-delete {
  padding: 5px;
  border-color: transparent;
  background-color: transparent;
}

.button-card-delete:hover {
  border-color: transparent;
  background-color: transparent;
}
.button-card-delete:focus {
  border-color: transparent;
  background-color: transparent;
}
