.button-card-tasks {
  background-color: #47525e;
  color: white;
  border-color: #47525e;
}

.button-card-tasks:hover {
  background-color: #657383;
  color: white;
  border-color: #47525e;
}

.button-card-tasks:focus {
  background-color: #657383;
  color: white;
  border-color: #47525e;
}

.task-list-button {
  background-color: transparent;
  border: transparent;
}
