#negocios {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

#negocios .row-title {
  margin-top: 30px;
}

.separator-title {
  background-color: #969faa;
  width: 3px;
  height: 57px;
}
.separator {
  background-color: #969faa;
  width: 3px;
  height: 1500px;
}

.column-title {
  height: 57px;
  background-color: #e0e6ed;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
}

.button-add-client {
  height: 50px;
  /* font-family: Lato; */
  font-size: 18px;
  font-weight: 500;
  /* line-height: 62px; */
  width: 220px;
  text-align: center;
}
