#negocios {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

#negocios .row-title {
  margin-top: 30px;
}

.form-add-client h2 {
  text-align: center;
  font-weight: 700;
}

.form-add-client h3 {
  font-weight: 700;
}

.select-etapa {
  position: relative;
}

.select-etapa select {
  /* background-color: transparent; */
  width: 100%;
}

.input-valor {
  width: 100%;
}

.submit-button {
  background-color: #47525e;
  color: white;
  border-color: #47525e;
}
.submit-button:hover {
  background-color: #657383;
  color: white;
  border-color: #47525e;
}

.cancel-button {
  background-color: transparent;
  border-color: transparent;
}
.cancel-button:hover {
  background-color: transparent;
  border-color: transparent;
}

.separator-title {
  background-color: #d1d8e0;
  width: 3px;
  height: 57px;
}
.separator {
  background-color: #d1d8e0;
  width: 3px;
  height: 1500px;
}

.column-title {
  height: 57px;
  background-color: #e0e6ed;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
}

.button-add-client {
  height: 50px;
  /* font-family: Lato; */
  font-size: 18px;
  font-weight: 500;
  /* line-height: 62px; */
  width: 220px;
  text-align: center;
}
